// creates a glow (as bootstrap would normally, just this lets you set the color) around a focused item
@mixin focus-glow($color) {
    &:focus {
        border-color: $color;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba($color, 0.6);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba($color, 0.6);
        outline: 0 none;
    }
}

@mixin no-focus-glow() {
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: none;
    }
}

@mixin boxShadow($param) {
    -webkit-box-shadow: $param;
    box-shadow: $param;
}
