@import "../misc_libraries/bourbon/bourbon"; // the default path is /src, since I run the command sass --watch src:dist

// MIXINS
@import 'public/styles/global-mixins';

// variables
@import 'public/styles/global-variables';

$nav_btn_height: 47.5px;
$margin-height: 10px;

.container {
    position: absolute;
    top: 20px; // put 20px from the top, just like the h1 in app.component.html

    padding: 0;

    // make it as wide as possible, but no wider than 400px
    width: 100%;
    max-width: 600px;

    // center horizontally
    left: 50%;
    @include transform(translateX(-50%));

    .wl-error-message h5 {
        color: $red_color;
        font-weight: bold;
        font-size: 13px;
    }

    .wl-nav-btns {
        margin-bottom: $margin-height;
        height: $nav_btn_height;

        .wl-home-link,
        .wl-logout {
            position: absolute;
            top: 0;

            svg {
                fill: $green_color;

                &:hover {
                    fill: $dark_green_color;
                }
            }
            cursor: pointer; // make it look clickable
        }

        .wl-home-link {
            left: 0;

            height: $nav_btn_height;
            width: 33.5px;
        }

        .wl-logout {
            right: 0;

            height: $nav_btn_height;
            width: 43px;
        }
    }

    form {
        .wl-word-input-wrapper {
            height: 40px;

            .wl-delete-word {
                height: 40px;
                position: absolute;
                left: 0;

                border-radius: 4px 0 0 4px;
                @include focus-glow($red_color);

                svg {
                    height: 100%;

                    .cls-1 {
                        fill: $red_color;
                    }
                    .cls-2 {
                        fill: white;
                    }

                    cursor: pointer;
                }

            }
        }

        .form-group {
            margin-bottom: $margin-height;

            input {
                width: 100%;
                height: 100%;

                padding: 0;

                text-align: center;

                border: 2px solid $green_color;
                font-size: 25px;
                color: $green_color;
                @include placeholder {
                    color: rgba($green_color, 0.5);
                }

                // no box shadow of focus glow
                @include no-focus-glow();
                @include boxShadow(none);

                &.wl-list-title {
                    font-weight: bold;
                }
            }
        }

        .wl-list-buttons {
            @include display(flex);
            @include justify-content(space-between);

            .wl-button-wrapper {
                max-width: 187.5px;
                width: 100%;

                height: 40px;

                button {
                    width: 100%;
                    height: 100%;

                    font-size: 25px;

                    .wl-button-text {
                        position: relative;
                        top: -4px;
                    }

                    color: white;

                    &.wl-delete-button {
                        background-color: $red_color;
                        @include focus-glow($red_color);
                    }

                    &.wl-cancel-button {
                        background-color: $blue_color;
                        @include focus-glow($blue_color);
                    }

                    &.wl-save-button {
                        background-color: $green_color;
                        @include focus-glow($green_color);

                        &[disabled] {
                            background-color: rgba($green_color, 0.5);
                            color: rgba(white, 0.5);
                        }
                    }

                    border: none;
                }
            }
        }

        .wl-plus-button {
            width: 100%;
            height: 40px;

            border: 2px solid $green_color;

            &:hover {
                background-color: white;

                border-color: $dark_green_color;

                svg {
                    fill: $dark_green_color;
                }
            }

            &:focus {
                background-color: white;
                @include no-focus-glow();
            }

            // change back to normal color while being clicked on
            &:active {
                border-color: $green_color;

                svg {
                    fill: $green_color;
                }
            }

            svg {
                width: 30px;
                height: 30px;

                position: relative;
                top: -2px;

                fill: $green_color;
            }
        }

    }
}
