@import "../misc_libraries/bourbon/bourbon"; // the default path is /src, since I run the command sass --watch src:dist

// MIXINS
@import 'public/styles/global-mixins';

// variables
@import 'public/styles/global-variables';

a {
    font-size: 1.15em;
    color: $dark_green_color;

    &:hover {
        color: $green_color;
        text-decoration: none;
    }
}
